<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{php}echo config('web_site_title');{/php}</title>
    <meta name="description" content="二零一八域名销售">
    <meta name="keywords" content="域名购买">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="Bookmark" href="__STATIC__/newsource/image/logo_title.png" />
    <link rel="shortcut icon" href="__STATIC__/newsource/image/logo_title.png"  />
    <link rel="stylesheet" href="__STATIC__/newsource/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/newsource/css/index.css" />
    <link rel="stylesheet" href="__STATIC__/newsource/css/page.css" />
    <style type="text/css">
        h6{color:blue;}
        textarea{resize:none;}
        #word{color:red;}
        .pagination1 li a{
            height: 36px;
        }
    </style>
</head>
<body>
<!--头部-->
{include file="public/header" /}
<!--tab区-->
<div class="nav-tab">
    <div class="container">
        <div class="tab_wrapper">
            <ul class="tab_menu"  id="nky">
                <li class="active biaoji" ><a href="{:url('Index/index')}">首页</a></li>
                {volist name="dntype" id="vo"}
                <li id="ds{$vo.id}" class="biaoji"><a href="{:url('Index/tp?typeid='.$vo.id)}">{$vo.title}</a></li>
                {/volist}
            </ul>
        </div>
    </div>
</div>
<div class="jump_class" style="">
    <div class="container">
        <a class="index_page" href="{:url('Index/index')}">域名交易平台 </a>><span>已卖出域名</span>
    </div>
</div>

<!--快捷搜索-->
<div class="quick_search can_reset" >
    <div class="container">
        <div class="search_fast">
            <div class="fast_box clearfix">
                <div class="col-md-12">
                    <div class="search_box">
                        <form action="{:url('Index/search2')}"  method="get">
                            <div>
                                <p>域名关键字：</p>
                                <input type="text" name="crux" id="guanjian" type="text" placeholder="输入关键字" />
                            </div>
                            <div style="vertical-align: bottom;position: relative;">
                                <p>域名分类：</p>
                                <div class="dropdown_select">
                                    <select name="types">
                                        <option value="">所有分类</option>
                                        {volist name="dntypeslist" id="vo"}
                                        <option>{$vo.title}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div>
                                <p>域名后缀：</p>
                                <select name="hz" class="sel">
                                    <option value="">不限后缀</option>
                                    <option value=".com">.com</option>
                                    <option value=".cn">.cn</option>
                                    <option value=".net">.net</option>
                                    <option value=".org">.org</option>
                                    <option value=".xin">.xin</option>
                                    <option value=".club">.club</option>
                                    <option value=".xyz">.xyz</option>
                                    <option value=".ltd">.ltd</option>
                                    <option value=".wang">.wang</option>
                                    <option value=".top">.top</option>
                                    <option value=".vip">.vip</option>
                                    <option value=".ink">.ink</option>
                                    <option value=".site">.site</option>
                                    <option value=".shop">.shop</option>
                                    <option value=".me">.me</option>
                                    <option value=".online">.online</option>
                                </select>
                            </div>
                            <button class="search_btn" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜&nbsp;索</button>
                            <button type="reset" class="reset_btn"></span>重&nbsp;置</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!--分类-->
<div class="domain_class" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="ym_class">
                    <div class="part_title clearfix">
                        <p class="pull-left">已卖出域名</p>
                        <!--<span class="pull-right"><a href="">更多></a></span>-->
                    </div>
                    <div class="table-responsive">
                        <table class="table-striped">
                            <thead>
                            <tr>
                                <th>域名</th>
                                <!--<th>报价</th>-->
                                <th>简介</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td ><a href="{:url('Index/dn_info?dn='.$vo.domain_name)}">{$vo.domain_name}</a></td>
                                <!--<td >-->
                                    <!--{if condition="$vo.dnprice eq '0.00'"}议价-->
                                    <!--{else /}￥{$vo.dnprice}-->
                                    <!--{/if}-->
                                <!--</td>-->
                                <td >{$vo.description}</td>
                                {if condition="($vo.status == 1)"}
                                <td >
                                    <button class="buy_btn">购买</button>
                                </td>
                                {else /}
                                <td >
                                    <button disabled="disabled">已售出</button>
                                </td>
                                {/if}
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="pagination1">
            {$page}
        </div>
    </div>
</div>

<!--footer-->
{include file="public/footer" /}


<!--模态框-->
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!--<h4 class="modal-title">Modal title</h4>-->
                </div>
                <div class="modal-body">
                    <form action="">
                        <h5><strong>购买域名：</strong><span id="domains">201818.com</span></h5>
                        <div class="dialogue_box">
                            <input type="text" name="domain" id="domain" style="display: none"/>
                            <div>
                                <label><span><i>*</i>您的姓名：</span><span><input  maxlength="6" type="text" class="name" id="buyer_name" name="buyer_name" placeholder="请输入您的姓名"/></span></label>
                                <p class="tip-error"></p>
                            </div>
                            <div>
                                <label style="position: relative;"><span><i>*</i>期望价格：</span><span><input type="number"  maxlength="10" id="buyer_hopeprice" class="price" name="buyer_hopeprice" placeholder="请填写合理价格"/></span><span class="dw">元</span></label>
                                <p class="tip-error"></p>
                            </div>
                            <div>
                                <label><span><i>*</i>联系方式：</span><span><input type="text"  maxlength="15" id="buyer_tel" name="buyer_tel" class="contact" placeholder="请输入您的联系方式或者QQ号"/></span></label>
                                <p class="tip-error"></p>
                            </div>
                            <div class="height_input">
                                <label><span> &nbsp;购买需求：</span><span><textarea  id="area" type="text" placeholder="请输入您的需求"/></textarea></span></label>
                                <h6>你可以输入<span>50</span>个字，现在剩余<span id="words1">50</span>个</h6>
                                <p class="tip-error"></p>
                            </div>
                        </div>
                        <div class="text-center"><input class="submitbtn" id="submitBtn" type="button" value="提交" /></div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                信息
            </div>
            <div class="modal-body">
                您的购买信息我们已收到，平台管家24小时内与您联系，请您保持手机畅通！
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-btn btn-primary " data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<script src="__STATIC__/newsource/js/jquery-3.2.1.min.js"></script>
<script src="__STATIC__/newsource/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/newsource/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/newsource/js/index.js"></script>
<script src="__STATIC__/home/layer/layer.js"></script>

<script>

    $(".buy_btn").on('click', function() {
        console.log($(this).parent().parent().children().first().children().text());
        $("#domain").attr("value",$(this).parent().parent().children().first().children().text());
        $("#domains").text($(this).parent().parent().children().first().children().text());
    });


    $(function(){
        $("#area").keyup(function(){
            var len = $(this).val().length;
            if(len > 49){
                $(this).val($(this).val().substring(0,50));
            }
            var num = 50 - len;
            if(num<=0){num=0}
            $("#words1").text(num);
        });
    });

    $(function(){
        //按钮单击时执行
        $("#submitBtn").click(function(){
            layer.msg('玩命提示中');
            //Ajax调用处理
            var domain = $('#domain').val();
            var buyer_name = $('#buyer_name').val();
            var buyer_hopeprice = $('#buyer_hopeprice').val();
            var buyer_tel = $('#buyer_tel').val();
            var area = $('#area').val();

            if(buyer_name==''){
                layer.msg('姓名不能为空', function(){});
                return;
            }
            if(buyer_hopeprice==''){
                layer.msg('期望价格不能为空', function(){});
                return;
            }
            if(buyer_tel==''){
                layer.msg('联系方式不能为空', function(){});
                return;
            }
            if(area==''){
                layer.msg('购买说明不能为空', function(){});
                return;
            }

            var data={"domain_name":domain,"buyer_name":buyer_name,"buyer_hopeprice":buyer_hopeprice,"buyer_tel":buyer_tel,"instructions":area};
            console.log(data);

            $.ajax({
                type: "POST",
                url: "{:url('index/addmassage')}",
                data: {"data":data},
                dataType:"json",
                async:false,
                cache:false,
                success: function(data){
                    if(data.success=="true"){
                        layer.alert(data.msg, {
                            title:'提示',
                            icon: 1,
                            skin: 'layer-ext-moon' ,
                            yes: function(index, layero){
                                location.reload();
                            }
                        })
                    }else if(data.success=="false") {
                        layer.alert(data.msg, {
                            title:'提示',
                            icon: 2,
                            skin: 'layer-ext-moon'
                        })
                    }
                },
                error: function(json){
                    layer.msg('操作失败');
                }
            });
        });
    });

</script>

<script type="text/javascript">
    $(".dropdown-menu li a").click(function(){
        var myoption = $('.dropdown select option').html();
        console.log(myoption)
    })

    $(".select_box span").on('click',function(){
        var mytext = $(this).text();
        var newtext = $(".select_class").text();
        $(".select_class").text(mytext)
    })

</script>
<script type="text/javascript">
    window.addEventListener('resize',reSize);
    var myarr = $(".tab_menu li");
    var tabLi = $(".tab_menu").find("li");
    function reSize(){
        if($(window).width()>=768){
            var $liWidth = $(".tab_menu").width()/myarr.length;
            $(".tab_menu li").css({"width": $liWidth,"min-width":"70px"});
            $(".tab_menu").css({"width":"100%"});
        }
        else{
            $(".tab_menu").css({"width":"300px"})
            $(".menu_btn").click(function(){
                $(".tab_menu").stop().animate({"right":"0"});
                $(this).animate({"right":"-40px"})
            });
            $(".tab_menu li").click(function(){
                $(this).parent(".tab_menu").stop().animate({"right":"-800px"});
                $(".menu_btn").stop().animate({"right":"10px"});
            });
        }
    }
    reSize();


</script>
<script>
    /*wuweixiang 2018-05-15 编辑 功能：辅助搜索功能，拿取url的对应的搜索参数赋值到搜索框*/
    /*js获取URL里面的参数赋值到搜索框*/
    function getQueryString(name) {
        var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return unescape(r[2]);
        }
        return null;
    }

    var search=getQueryString("search");
    var suffix=getQueryString("suffix");

    $("#suffix option").each(function(){
        if($(this).text() == suffix){
            $(this).attr("selected",true);
        }
    });
    document.getElementById('search').value=search;

    var pagenum = r = window.location.href;

    var arr = pagenum.split('typeid/')[1].split('.html')[0];
    var bbs='#ds'+arr;

    console.log(bbs);

    $(function (){
        //把之前已有的active去掉
        $('.biaoji').removeClass('active');
        //当前点击的li加上class
        $(bbs).addClass("active");
    })
</script>


</body>
</html>
