<footer>
    <div class="foot">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <!--<i class="icon_tel"></i>-->
                    <div class="tel_list">
                        <div class="pull-left">
                            <h3><i class="foot_icon icon_tel pull-left"></i>免费服务热线&邮箱：</h3>
                            <ul>
                                <li><span>Q  Q：</span> <a href="tencent://message/?uin=8185628&Site=sc.chinaz.com&Menu=yes">8185 628</a></li>
                                <li><span>手机：</span> <a href="tel:15888808256">158 8880 8256</a></li>
                                <li><span>微信：</span> <span>158 8880 8256</span></li>
                                <li><span>邮箱：</span> <span>8185628@qq.com</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="company_info clearfix">
                        <div class=" col-lg-7 col-md-6 col-sm-7 col-xs-6">
                            <!--<i class="icon_address"></i>-->
                            <div class="address_info">
                                <div class="pull-left">
                                    <h3><i class="foot_icon icon_address pull-left"></i>集团名称:</h3>
                                    <p>安徽二零一八实业集团</p>
                                    <h3><i class="foot_icon icon_address pull-left"></i>集团地址:</h3>
                                    <p>安徽省合肥市政务区蔚蓝商务港D座17楼</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-5 col-xs-6">
                            <div class="pull-right">
                                <div class="wx">
                                    <img src="__STATIC__/newsource/image/wx.png" alt="" />
                                    <p>关注微信</p>
                                </div>
                                <div class="qq">
                                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2220016820&site=qq&menu=yes"><img src="__STATIC__/newsource/image/qq.png" /></a>
                                    <p>周一至周日<br />09:00-22:30</p>
                                </div>
                            </div>
                        </div>
                    </div>
                   <!-- <div class="copyright visible-lg-block">
                        <p>{php}echo config('web_site_copyright').'  '.config('web_site_icp'){/php}</p>
                    </div>-->
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright ">
                        <p>{php}echo config('web_site_copyright').'  '.config('web_site_icp'){/php}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>