<div class="zb_nav hidden-xs">
    <div>
        <div class="zb_div zb_qq">
            <div class="zb_icon qq_icon" >
                <img src="__STATIC__/newsource/image/icon-1.png" alt="" />
            </div>
            <div class="zb_content qq_content ">
                <div class="clearfix">
                    <div class="pull-left"><img class="con_icon" src="__STATIC__/newsource/image/icon1.png" alt="" /></div>
                    <div class="pull-left">
                        <p>QQ咨询：</p>
                        <a target="_blank" href="tencent://message/?uin=8185628&Site=sc.chinaz.com&Menu=yes">8185628</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="zb_div zb_tel">
            <div class="zb_icon tel_icon" >
                <img src="__STATIC__/newsource/image/icon-2.png" alt="" />
            </div>
            <div class="zb_content tel_content" >
                <div class="clearfix">
                    <div class="pull-left"><img class="con_icon" src="__STATIC__/newsource/image/icon2.png" alt="" /></div>
                    <div class="pull-left">
                        <p>免费服务热线：</p>
                        <a target="_blank" href="tel:15888808256">158 8880 8256</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="zb_div zb_wx">
            <div class="zb_icon wx_icon" >
                <img src="__STATIC__/newsource/image/icon-3.png" alt="" />
            </div>
            <div class="zb_content wx_content" >
                <p>扫描二维码</p>
                <span>
							<img src="__STATIC__/newsource/image/zb-wx.png" alt="" />
							关注微信
						</span>
            </div>
        </div>
        <div class="zb_div zb_email">
            <div class="zb_icon email_icon" >
                <img src="__STATIC__/newsource/image/icon-4.png" alt="" />
            </div>
            <div class="zb_content email_content" >
                <div class="clearfix">
                    <div class="pull-left"><img class="con_icon" src="__STATIC__/newsource/image/icon4.png" alt="" /></div>
                    <div class="pull-left">
                        <p>邮箱咨询 :</p>
                        <a >8185628@qq.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="zb_div zb_top" style="display: none;">
            <div class="zb_icon top_icon" >
                <a href="javascript:;"><img src="__STATIC__/newsource/image/icon-5.png" alt="" title="返回顶部"/></a>
            </div>
        </div>
    </div>
</div>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="header_content clearfix">
                    <div class="logo fl">
                        <h1>
                            <a href="{:url('Index/index')}"><img src="__STATIC__/newsource/image/logo.png" alt="二零一八实业" /></a>
                        </h1>
                    </div>
                    <div class="divorce fl"></div>
                    <div class="logo_title fl" style="color: #ec923b">
                        <p>买好域名</p>
                        <p>就上7266.cn</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="service_tel fr">
                    <p class="tel_title"><i></i><span>服务热线：</span></p>
                    <p class="tel_num">
                        <a href="tel:4006616820">40066 16820</a>
                    </p>
                </div>
                <div class="search_area pull-right">
                    <div class="search_content">
                        <div class="search_form">
                            <form class="clearfix"   method="get" action="{:url('Index/search')}">
                                <div class="formDiv">
                                    <div class="inputDiv">
                                        <input placeholder="搜索您喜欢的域名，如huahua" autofocus="autofocus" name="search" id="search" />
                                    </div>
                                    <div class="line"></div>
                                    <div class="selectDiv">
                                        <select name="suffix" id="suffix">
                                            <option>.com</option>
                                            <option>.cn</option>
                                            <option>.net</option>
                                            <option>.org</option>
                                            <option>.xin</option>
                                            <option>.club</option>
                                            <option>.xyz</option>
                                            <option>.ltd</option>
                                            <option>.wang</option>
                                            <option>.top</option>
                                            <option>.vip</option>
                                            <option>.ink</option>
                                            <option>.site</option>
                                            <option>.shop</option>
                                            <option>.me</option>
                                            <option>.online</option>
                                        </select>
                                    </div>
                                    <div class="btnDiv"><button><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--小屏下的tab-->
        <button type="button" class="menu_btn navbar-toggle collapsed visible-xs-block" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">切换</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
</header>